body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

.nav{
display:flex;
justify-content:space-between;
background:#111;
padding:10px;
}

.nav h1{
color:orange;
}

.nav a{
color:white;
margin:10px;
text-decoration:none;
}

.home{
text-align:center;
padding:100px;
background:#000;
}

.btn{
background:orange;
border:none;
padding:10px;
}

section{
padding:40px;
text-align:center;
}

.compare{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.cmp{
border:1px solid orange;
padding:20px;
width:200px;
background:#111;
}

.gallery{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

.gcard{
width:150px;
height:100px;
background:#111;
border:1px solid orange;
display:flex;
align-items:center;
justify-content:center;
}

input{
padding:10px;
margin:5px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:green;
padding:10px;
color:white;
}

footer{
background:#111;
text-align:center;
padding:20px;
}
